* {
  font-family: Arial, Helvetica, sans-serif;
}

.body {
  margin: 0;
}

.header {
  display: flex;
  background-color: #1f2937;
  justify-content: space-between;
  padding: 1rem 15%;
  align-items: center;
  gap: 1rem;
}

.logo, .banner-text > :nth-child(1) {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bolder;
}

.header > ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 1rem;
}

a {
  text-decoration: none;
  color: #e5e7eb;
}

.hero {
  display: flex;
  flex-wrap: wrap;
  padding: 4rem 15%;
  background-color: #1f2937;
  gap: 1rem;
}

.left-hero, .right-hero {
  flex: 1 1 300px;
}

.main-text {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
  margin: 0;
}

.secondary-text, .banner-text > :nth-child(2) {
  font-size: 18px;
  color: #e5e7eb;
}

.left-hero > button {
  font-size: 18px;
  color: #fff;
  background-color: #3882f6;
  border: none;
  padding: 8px 36px;
  border-radius: 10px;
  transition-duration: 0.4s;
}

.right-hero > img {
  max-width: 100%;
}

.left-hero > button:hover {
  background-color: #fff;
  color: #3882f6;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 2rem 15% 4rem 15%;
  gap: 2rem;
}

.content-header {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
  margin: 0;
}

.items-container {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.item {
  max-width: 175px;
}

.square {
  width: 175px;
  height: 175px;
  border: 5px solid #3882f6;
  border-radius: 10%;
}

.item > p {
  text-align: center;
}

.quote-section {
  display: flex;
  flex-direction: column;
  background-color: #e5e7eb;
  padding: 4rem 15%;
}

.quote-section > :nth-child(1) {
  font-size: 36px;
  font-weight: light;
  font-style: italic;
  color: #1f2937;
  padding: 0 100px;
}

.quote-section > :nth-child(2) {
  font-weight: bold;
  padding: 0 100px;
  margin-left: auto;
  margin-right: 50px;
}

.banner {
  padding: 4rem 15%;
}

.banner-container {
  background-color:#3882f6;
  display: flex;
  justify-content: space-between;
  padding: 5% 10%;
  border-radius: 15px;
}

.banner-container > :nth-child(2) {
  align-self: center;
}

.banner-text > p{
  margin: 6px 0;
}

.banner-container > button {
  font-size: 18px;
  color: #fff;
  background-color: #3882f6;
  border: 2px solid #fff;
  padding: 8px 36px;
  border-radius: 10px;
  transition-duration: 0.4s;
}

.banner-container > button:hover {
  background-color: #fff;
  color: #3882f6;
}

.footer {
  padding: 2rem 15%;
  background-color: #1f2937;
  text-align: center;
  color: #e5e7eb;
  font-size: 22px;
}